body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

body {
	background: #141E30; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #141E30 , #243B55); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #141E30 , #243B55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }
	#menu{
		background: transparent;
	}

	.menupanel{
		transition: width 0.5s linear;
		background: rgba(0, 0, 0, 0.84);
	}

	#menubutton{
		transform: scale(0.8);
		padding-bottom: 8px;
		background-color: white;
		box-shadow: 0px 0px 12px 0px #8e8a8a;	
		outline: none;
	}
	
/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('../img/parallax1.jpg');
    min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("../img/parallax2.jpg");
    min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url("../img/parallax3.jpg");
    min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

#curtain{
	position: fixed;
	top: -50px;
	right: -50px;
	bottom: -50px;
	left: -50px;
	background: #efefef;
	z-index: 999999;
}

canvas {
    padding:0;
    margin:0;
}
div.btnbg {
    position:fixed;
    left:0;
    top:0;
}

/* logo text animation */

.line{
	   border-top: 5vh;
    border-bottom: 5vh;
    border-left: 2px;
    border-right: 2px;
    border-color: black;
    border-style: solid;
    background: black;
	display:inline-block;
}
.line2{
	border-top: 5vh; 
    border-bottom: 5vh;  
    border-left: 2px;
    border-right: 2px;
    border-color: black;
    border-style: solid;
    background: black;
	display:inline-block;	
}
#s-m1{
	margin-left:50%;
	display: inline-block;
}
#s-m2{
	margin-left:50%;
	display: inline-block;
}

#l-m1{
	margin-right:11px;
	transform: rotate(15deg);
	border-radius:5px 5px 0px 0px;
}

#l-m2{
	margin-right:5px;
	transform: rotate(-15deg);
	border-radius:5px 5px 5px 5px;
}
#l-m3{
	margin-left:5px;
	transform: rotate(15deg);
	border-radius:5px 5px 5px 5px;
}

#l-m4{
	margin-left:11px;
	transform: rotate(-15deg);
	border-radius:5px 5px 0px 0px;
}


.curve{
	height: 50px;
	width: 50px;
	border: 8px solid black;
	border-top-color: transparent;
	border-right-color: transparent;
	display: inline-block;	
	border-radius: 1000px;
}

#s-s1{
	display: inline-block; 
	margin-left: 50px;
}

#c-s1{
    transform: rotate(45deg);
    position: absolute;
    margin-top: -51px;
    border-top-color: black;
    border-radius: 1000px 100px 1000px 1000px;
		margin-right:10px;
}

#c-s2 {
    transform: rotate(-135deg);
    margin-left: 0px;
    position: absolute;
    margin-top: -8px;
    border-top-color: black;
    border-radius: 1000px 100px 1000px 1000px;
		margin-right:10px;
}
#s-m2{
	margin-left:50px;
	display: inline-block;
}

#l-e1{
	margin-right:11px;
	margin-left:3px;
	border-radius:5px 5px 5px 5px;
	transform: scaleY(0.99);
	margin-top:1px;
}

#l-e2{
	margin-right:5px;
	transform: rotate(90deg) scaleY(0.5);
	border-radius:5px 5px 5px 5px;
	margin-top:43px;
   position: absolute;
	
}
#l-e3{
	margin-left:2px;
	transform: rotate(90deg)  scaleY(0.5);
	border-radius:5px 5px 5px 5px;
	margin-top:-42px;
	position: absolute;

}

#l-e4{
	margin-left:-4.9px;
	transform: rotate(90deg);
	border-top: 5vh;
    border-bottom: 5vh;
	border-radius:5px 5px 0px 0px;

}

#c-r1{
    transform: rotate(180deg);
    position: absolute;
    margin-top: -2px;
	margin-left:-5px;
	border-top-color:black;
    border-radius: 1000px 1000px 1000px 1000px;
}
#l-r1{
	margin-right:11px;
	border-radius:5px 5px 0px 0px;
}
#l-r2{
	margin-right:5px;
	transform: rotate(-30deg) scaleY(0.6);
	border-radius:5px 5px 5px 5px;
	position:absolute;
	margin-top:22px;
	margin-left:5px;

	
	
}

#l-i1{
	margin-right:11px;
	border-radius:5px 5px 0px 0px;
	margin-left:15px;
}
#l-i2{
	margin-right:-5px;
	transform: rotate(90deg)  scaleY(0.6);;
	border-radius:5px 5px 5px 5px;
	margin-top:42px;
   position: absolute;
   	margin-left:-15px;
	
}
#l-i3{
	margin-left:-15px;
	transform: rotate(90deg)  scaleY(0.6);
	border-radius:5px 5px 5px 5px ;
	margin-top:-43px;
	position: absolute;

}
#l-z1{

	transform: rotate(90deg)  scaleY(0.6);
	border-radius:5px 5px 5px 5px;
	margin-top:-95px;
	position: absolute;
	margin-left:20px;
	margin-right:10px;
}

#l-z2{
	margin-right:10px;
	transform: rotate(33deg) scaleY(1.1);
	border-radius:5px 5px 5px 5px;
	margin-top:-52px;
	position:absolute;
	margin-left:20px;
}
#l-z3{
	margin-left:20px;
	transform: rotate(90deg)  scaleY(0.6);
	border-radius:5px 5px 5px 5px;
	margin-top:-10px;
	position: absolute;
	margin-right:15px;
	
}

